---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Chart.Name }}-deployment
  labels:
    app: {{ .Chart.Name }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ .Chart.Name }}
  template:
    metadata:
      labels:
        app: {{ .Chart.Name }}
    spec:
      nodeSelector:
        youtrack-specific: localstore
      volumes:
        {{- range .Values.volumes}}
        - name: {{ .volume.name }}
          persistentVolumeClaim:
            claimName: {{ .volume.name }}-pvc
        {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          image: {{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 80
              protocol: TCP
          volumeMounts:
            {{- range .Values.volumes }}
            - name: {{ .volume.name }}
              mountPath: {{ .volume.mountPath}}
            {{- end}}
